<div class="row" style="margin-top:55">
  <div class="offset2 span3" style="margin-top:95">
    <form action = "/gpio" method = "get" align="center">
      <button class="btn btn-danger btn-large">刷新接口状态</button>
    </form>
    <br />
    <br />
    <br />
    <form action = "/reset_pin" method = "post" align="center">
      <button class="btn btn-danger btn-large">重置接口状态</button>
    </form>
  </div>
  <div class="gpio_board span8">
    <table id="RPiHeader" border=18>
      <tr>
        <th><span class="label label-inverse">输入输出</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">输入输出</span></th>
      </tr>
      <% @pin_status.each do |num, info| %>
      <% if num % 2 == 1 %>
      <tbody>
        <tr>
          <td class="pbm">
            <input type="checkbox" data-toggle="switch" <%= "disabled" unless info[:name].include?("GPIO") %>/>
          </td>
          <td><span class="badge badge-warning"><%= info[:name] %></span></td>
          <td bgcolor="black" width="80" align="center">
            <div class="btn-group" id="<%= info[:name]%>" <%="data-toggle=buttons-checkbox" if info[:btn_style].nil?%>>
              <button type="button" class="btn btn-mini <%=info[:btn_style].nil? ?  "btn-success btn-onoff" : info[:btn_style]%>"><%= info[:btn_text] %></button>
            </div>
          </td>
      <% else %>
          <td bgcolor="black" width="80" align="center">
            <div class="btn-group" id="<%= info[:name]%>" <%="data-toggle=buttons-checkbox" if info[:btn_style].nil?%>>
              <button type="button" class="btn btn-mini <%=info[:btn_style].nil? ?  "btn-success btn-onoff" : info[:btn_style]%>"><%= info[:btn_text] %></button>
            </div>
          </td>
          <td><span class="badge badge-warning"><%= info[:name] %></span></td>
          <td class="pbm">
            <input type="checkbox" data-toggle="switch" <%= "disabled" unless info[:name].include?("GPIO") %>/>
          </td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
