<div class="row" style="margin-top:70px">
  <div class="offset2 span3" style="margin-top:105px">
    <form action = "#" method = "" align="center">
      <a class="btn btn-danger btn-large">刷新接口状态</a>
    </form>
    <br />
    <br />
    <br />
    <form action = "/reset_pin" method = "post" align="center">
      <button class="btn btn-danger btn-large">重置接口状态</button>
    </form>
  </div>
  <div class="gpio_board span8">
    <table id="RPiHeader" border=18>
      <tr>
        <th><span class="label label-inverse">输入输出</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">输入输出</span></th>
      </tr>
      <% @pin_status.each do |num, info| %>
        <% if num % 2 == 1 %>
        <tbody>
          <tr>
            <td class="pbm" controller="pin-left">
              <input type="checkbox" data-toggle="switch" <%= "disabled" unless info[:name].include?("GPIO") %>/>
            </td>
            <td info="pin-left" align="center"><span class="badge badge-warning"><%= info[:name] %></span></td>
            <td class="pin-left" bgcolor="black" width="80" align="center">
              <button type="button" id="<%= info[:name]%>" class="btn <%= info[:btn_style] || "btn-success btn-onoff"%>" <%="data-toggle=button" if info[:btn_style].nil?%>><%= info[:btn_text] %></button>
            </td>
        <% else %>
            <td class="pin-right" bgcolor="black" width="80" align="center">
              <button type="button" id="<%= info[:name]%>" class="btn <%= info[:btn_style] || "btn-success btn-onoff"%>" <%="data-toggle=button" if info[:btn_style].nil?%>><%= info[:btn_text] %></button>
            </td>
            <td info="pin-right" align="center"><span class="badge badge-warning"><%= info[:name] %></span></td>
            <td class="pbm" controller="pin-right">
              <input type="checkbox" data-toggle="switch" <%= "disabled" unless info[:name].include?("GPIO") %>/>
            </td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
