<div class="row" style="margin-top:55">
  <div class="offset2 span3" style="margin-top:95">
    <a href="/gpio" align="center">
      <button class="btn btn-danger btn-large">重置按钮状态</button>
    </a>
  </div>
  <div class="gpio_board span8">
    <table id="RPiHeader" border=18>
      <tr>
        <th><span class="label label-inverse">输入输出</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口状态</span></th>
        <th><span class="label label-inverse">端口号</span></th>
        <th><span class="label label-inverse">输入输出</span></th>
      </tr>
      <% @pin_status.each do |num, info| %>
      <% if num % 2 == 1 %>
      <tbody>
        <tr>
          <td class="pbm">
            <input type="checkbox" data-toggle="switch" />
          </td>
          <td><span class="badge badge-warning"><%= info[:name] %></span></td>
          <td>
            <div class="btn-group" id=<%= 2*num-1%> data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini btn-success btn-onoff"><%= info[:btn_text] %></button>
            </div>
          </td>
      <% else %>
          <td>
            <div class="btn-group" id=<%= 2*num%> data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-mini btn-success btn-onoff"><%= info[:btn_text] %></button>
            </div>
          </td>
          <td><span class="badge badge-warning"><%= info[:name] %></span></td>
          <td class="pbm">
            <input type="checkbox" data-toggle="switch" />
          </td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
